/*element selector styles*/

img
{
    width: 150px;
    height: 200px;
    text-align: center;
}

/*hr 
{
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
    margin-left: 0px;
    margin-right: auto;
}*/

p 
{
    /*font-family: Arial, Helvetica, sans-serif;*/
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color:black;
}

/*id selector styles*/

#educationdiv
{
    text-align: center;    
}

#homeintro
{
    text-align: center;
}

#messageintro
{
    text-align: center;
}

#aboutintro
{
    text-align: center;
}

#menuitem0
{
    margin-left: 5;
}

/*class selector styles*/

.menu
{
    overflow: hidden;
    top: 0;
    background-color: white;
    width: 100%;
}

.menuitem
{
    font-size: 20px;
}

.docked
{
    position:fixed;
}

.hidden 
{
    display:none;
}

.customfooter 
{
    position:fixed;
    /* left:0px; */
    height:100px;
    /* position: absolute; */
    bottom: 5;
    width: 100%;
    /*height: 60px;
    line-height: 60px;*/
}

/*.vl 
{
    border-left: 1px solid black;
    height: 10px;
}*/