/*element selector styles*/

a:link,a:hover
{ 
    text-decoration: none;
}

footer
{
    text-align: center;
}
  

/* footer
{
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
} */

img
{
    width: 150px;
    height: 200px;
    text-align: center;
}

body 
{
    font-family: Arial, Helvetica, sans-serif;
    /* height:100%; */

    /* Height of the footer below*/
    /* padding-bottom:60px;    */
}

#detailsdiv td
{
    border-style: solid;
    border-width: thin;
    width: auto;
}

/*id selector styles*/

/* #resumefooter
{
    position: fixed;
} */

#detailsdiv, #contentsdiv
{
    padding-left: 5px;
}

#menuitem0
{
    /* margin-left: 5; */
    font-size: 24px;
}

#contacttable
{
    margin-left: auto; 
    margin-right: auto;
}

/*class selector styles*/

.floatinglist 
{
    /*display: inline-block;
    margin: 0 10px;*/
    float: left;
    margin: 0 20px;
}

.textlink
{
    text-decoration: underline;
    color: mediumblue;
}

.errortext
{
    color: red;
}

.intro
{
    text-align: center;
}

.menu
{
    /* overflow: hidden; */
    top: 0;
    background: white;
    /*background-color: white;*/
    /* background-color: mediumblue; */
    width: 100%;
    border-style: outset;
}

.menuitem
{
    font-size: 20px;
    /* color: white; */
}

.docked
{
    position: fixed;
}

.hidden 
{
    display: none;
}

.allButFooter 
{
    /* min-height: calc(100vh - 40px); */
    min-height: calc(100vh - 95px);
}